/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #000000;
  --matr-navbar-bg-rgb: 0, 0, 0;
  --matr-navbar-text-color: #ffffff;
  --matr-navbar-highlight-text: #e5ddb8;
  --primary: #fff;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  --bs-body-bg: #ffffff;
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.Nav.Link {
  color: #009a53;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
  --bs-alert-color: var(--matr-navbar-text-color);
  --bs-link-color-rgb: var(--matr-navbar-text-color);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

.landing-part1 {
  //background: url('/images/pexels-mali-maeder-802221.jpg') fixed center;
  background-size: cover;
  color: white;
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
<<<<<<< HEAD
.landing-part2 {
  height: 30vh;
=======

.mission-footer {
  color: black;
  padding: 4rem 0 2rem 0;
>>>>>>> main
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
/* Buttons */
.btn-outline-light {
  font-size: 20px !important;
  padding: 12px 26px !important;
  transition: all 0.3s ease-out !important;
}
.btn-light {
  font-size: 20px !important;
  padding: 12px 26px !important;
  transition: all 0.3s ease-out !important;
}
.btn:hover {
  transition: all 0.3s ease-out !important;
  background: #fff !important;
  color: #242424 !important;
  transition: 250ms !important;
}

.navbar-toggler{
  color: white !important;
  background-color: white !important;
}
<<<<<<< HEAD
=======

/* card */
.mission-card {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
>>>>>>> main
